*{
	margin:0;
	padding: 2px;;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("https://media.istockphoto.com/photos/3d-render-abstract-urban-futuristic-background-cityscape-with-neon-picture-id1314616897?b=1&k=20&m=1314616897&s=170667a&w=0&h=36ecyzywe66eEWQsGapVIoNmLphXI9ybg6ahKMgJpSo=");
	color:#444;
}

#header{
	text-align:center;
	background:#1f438b;
	color:#fff;
	padding:40px 0;
	width:100%;
    line-height: 50%;
}

h2{
	padding:20px 0;
	color:#1f438b;
}
#all-in{
	height:700px;
	width:1024px;
	margin:20px auto;
}
#Input, #Output{
	margin:1%;
	padding:2%;
	width:44%;
	float:left;
	background:#fff;
	line-height: 150%;
	border-radius:2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
	0 1px 5px 0 rgba(0,0,0,0.12),
	0 3px 1px -2px rgba(0,0,0,0.2);
}
input[type=text], textarea{
	padding:10px 0;
	font-size:100%;
	width:100%;
	background:transparent;
	border:none;
	outline:none;
	border-bottom:2px solid #aaa;
	transition: border 0.5s;
}
input[type=radio]{
	margin-right:10px;
	cursor:pointer;
}

.btn{
	width:250px;
	margin:30px auto 10px auto;
}
button{
	padding: 10px 30px;
	font-size: 100%;
	margin:5px;
	background:#1f438b;
	outline: none;
	border:none;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	transition:0.5s;
}

td{
	padding: 5px 5px 5px 0;
	vertical-align: top;
}

